html body {
    background-color: rgb(83, 103, 70);
    font-family: Montserrat;
}

.narrow {
    max-width: 500px;
    margin: 0 auto !important;
}

.center {
    text-align: center;
}

.btn {
    background-color: rgb(83, 103, 70) !important;
    color: rgb(247, 247, 244) !important;
    border-radius: 20px !important;
}

.whitebg {
    background-color: rgb(247, 247, 244);
}

.whitetext {
    color: rgb(247, 247, 244);
}

.roundcorners {
    border-radius: 20px;
}

.padding {
    padding: 30px;
}